#first-question {
    display: none;
}

#second-question {
    display: none;
}

#third-question {
    display: none;
}

#fourth-question {
    display: none;
}

#fifth-question {
    display: none;
}

#you-lose {
    display: none;
}

#you-win {
    display: none;
}